# Configurações do Bot Hub Lab C.O
# No Railway, adicione cada uma como variável de ambiente (aba Variables)
DISCORD_TOKEN=cole_seu_token_aqui
FOOTBALL_API_KEY=cole_sua_chave_aqui
GUILD_ID=cole_o_id_do_servidor
CANAL_GOLS=id_do_canal_gols-ao-vivo
CANAL_JOGOS=id_do_canal_jogos-do-dia
CANAL_TABELA=id_do_canal_tabelas-e-classificacao
CANAL_PALPITES=id_do_canal_palpites
CANAL_RANKING=id_do_canal_ranking-geral
